



/*======== КАРТА САЙТА =======*/

.sitemap {
	width: 100%;
	min-height: 300px;
	margin: 10px 0;
}
.sitemap__inner {
	width: 100%;
	min-height: 300px;
	border: 1px solid #119EF7;
	padding: 10px;
}
.sitemap__wrapper {
	width: 60%;
	margin: 0 auto;
	line-height: 20px;
}
.sitemap__list {
	list-style-image: url(../img/marker-for-list.png);
}

.sitemap__item {
	text-transform: uppercase;
	font-size: 16pt;
	margin: 10px 0;
}
.sitemap__nested-list {
	list-style-image: url(../img/nested-list.png);
}
.sitemap__nested-item {
	margin: 10px 0 10px 20px;
	text-transform: none;
	font-size: 14pt;

}
.sitemap__link {
	color: #0F24EA;
	font-weight: bold;
	border-bottom: 2px solid #3BDF25;
}
.sitemap__link:hover {
	margin: 0 0 0 5px;
	border-bottom: 2px solid #0012FF;
}
.sitemap__nested-link {
	color: #0FABF3;
}
.sitemap__nested-link:hover {
	margin: 0 0 0 5px;
	color: #111ADA;
}
@media screen and (max-width: 1024px) {
		.sitemap__wrapper {
			width: 70%;
		}
}
@media screen and (max-width: 824px) {
		.sitemap__wrapper {
			width: 80%;
		}
}
@media screen and (max-width: 724px) {
		.sitemap__wrapper {
			width: 90%;
		}
		.sitemap__item {
			font-size: 14pt;
		}
		.sitemap__nested-item {
			font-size: 12pt;
		}
		.sitemap__link {
			border: 0;
		}
}
@media screen and (max-width: 300px) {
		.sitemap__wrapper {
			width: 85%;
		}
		.sitemap__item {
			font-size: 12pt;
		}
		.sitemap__nested-item {
			font-size: 10pt;
		}
}


















/*----- НАВИГАЦИОННАЯ ЦЕПОЧКА -----*/
.breadcrumbs {width: 100%;}
.breadcrumbs__inner {
	width: 100%;
	min-height: 50px;
	margin: 10px 0 0 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.breadcrumbs__list {
	display: flex;
	align-items: center;
}
.breadcrumbs__item {padding: 0 10px 0 0;}
.breadcrumbs__item::after {
	content: ">>";
	color: #0000FF;
	margin-left: 5px;
}
.breadcrumbs__item:last-child::after {content: "";}
.breadcrumbs__link {color: #0000FF;}
.breadcrumbs__link:hover,
.breadcrumbs__link--active {color: #00A8EE;}
@media screen and (max-width: 700px) {
	.breadcrumbs__list {
		display: block;
	}
	.breadcrumbs__item {
		width: 100%;
	}
}
@media screen and (max-width: 558px) {
	
}
@media screen and (max-width: 450px) {
	.breadcrumbs__link {
		font-size: 10pt;
	}
}








/*============ ИНТЕРНЕТ-ПРИЕМНАЯ ===========*/

.reception {width: 100%;}
.reception__inner {
	width: 100%;
	min-height: 300px;
	margin: 10px 0;
	border: 1px solid #119EF7;
	padding: 20px 10px;
}

.account {
	min-height: 10px;
	max-width: 100%;
}
.account__link {
	color: #293DFD;
	border: 1px solid #293DFD;
	padding: 10px 15px;
	border-radius: 20px;
}
.account__link:hover {
	background: #293DFD;
	color: #fff;
}
.reception__caption {
	font-size: 20pt;
	margin: 20px 0;
}
.reception__form {
	display: block;
	width: 50%;
	margin: 20px auto;
}
@media screen and (max-width: 900px) {
	.reception__form {
		width: 60%;
	}
}
@media screen and (max-width: 800px) {
	.reception__form {
		width: 70%;
	}
}
@media screen and (max-width: 658px) {
	.reception__form {
		width: 80%;
	}
}
@media screen and (max-width: 558px) {
	.reception__form {
		width: 100%;
	}
}
.treat-messages__name {display: block;}
.form-row {margin: 20px 0;}
.input-name {color: #1E3FE6;}
.form__input {
	width: 100%;
	padding: 10px;
	border: 1px solid #1E3FE6;
	border-radius: 10px;
	outline: none;
	color: #242157;
	font-weight: bold;
	font-style: italic;
}
#treat-messages__message {resize: vertical;}
.coauthor__btn {
	display: block;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
	margin: 10px auto;
	border: 1px solid #4F3EF2;
	color: #4F3EF2;
	background: #fff;
	outline: none;
	font-size: 12pt;
}
.coauthor__btn:active {
	background: #4F3EF2;
	color: #fff;
	box-shadow: inset 2px 2px #322B76;
}
.remove-to-coauthor__btn {
	display: none;
}
.coauthor {
	border: 1px solid #166ADC;
	border-radius: 20px;
	width: 100%;
	min-height: 200px;
	margin: 10px 0;
	padding: 10px;
	display: none;
}
.file-field-remover {
	color: red;
    border: 0;
    cursor: pointer;
    position: relative;
   	top: 35px;
   	left: 87%;
   	font-size: 16pt;
    padding: 0;
}
@media screen and (max-width: 1100px) {
	.file-field-remover {
		left: 85%;
	}
}
@media screen and (max-width: 500px) {
	.file-field-remover {
		left: 82%;
	}
}
@media screen and (max-width: 500px) {
	.file-field-remover {
		left: 80%;
	}
}
@media screen and (max-width: 358px) {
	.file-field-remover {
		left: 74%;
	}
}

.priemnaya-form {
	display: block;
	width: 60px;
	height: 60px;
}
.form-col {
	display: flex;
	margin: 20px 0;
	border: 1px solid blue;
	border-radius: 10px;
	padding: 10px;
	align-items: center;
	color: #242157;
	font-weight: bold;
	font-style: italic;
}
.form__agreement {
	color: #0CC6F4;
	text-decoration: underline;
}
.form-send-btn {
	display: block;
	padding: 10px 40px;
	border-radius: 30px;
	cursor: pointer;
	outline: none;
	border: 2px solid #171CED;
	text-transform: uppercase;
	color: #171CED;
	font-weight: bold;
	margin: 50px auto;
	background: #fff;
}
.form-send-btn:active {
	background: #171CED;
	color: #fff;
}

.reception__messages {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.messages__caption {
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	color: #4B2AD8;
	font-size: 18pt;
}
.messages__info {
	width: 100%;
	padding: 0 0 0 50px;
	font-size: 14pt;
	margin: 10px 0;
	color: #242157;
	text-align: left;
}
.messages__info span {
	display: block;
}
@media screen and (max-width: 800px) {
	.messages__caption {
		font-size: 20px;
	}
	.messages__info {
		font-size: 12pt;
		padding: 0 0 0 30px;
	}
	.reception__messages {
		width: 85%;
	}
}
@media screen and (max-width: 658px) {
	.reception__messages {
		width: 90%;
	}
}
@media screen and (max-width: 558px) {
	.messages__caption {
		font-size: 18px;
	}
	.messages__info {
		font-size: 10pt;
		padding: 0 0 0 30px;
	}
	.reception__messages {
		width: 85%;
	}
}
@media screen and (max-width: 500px) {
	.reception__messages {
		width: 95%;
	}
}
@media screen and (max-width: 400px) {
	.reception__messages {
		width: 100%;
	}
	.messages__info {
		padding: 0 0 0 20px;
	}
}
@media screen and (max-width: 300px) {
	.messages__info {
		padding: 0 0 0 10px;
	}
}











/*=========== Услуги населению ===============*/


.service {
	width: 100%;
}
.service__inner {
	width: 100%;
	min-height: 300px;
	padding: 10px;
	border: 1px solid #119EF7;
	margin: 10px 0;
	display: flex;
	position: relative;
}
/*----- сайдбар меню -----*/
.sidebar__menu {
	width: 30%;
	padding: 20px 30px;
	border-radius: 20px;
	background: #26EE21;
}
.sidebar__menu-list {
	line-height: 25px;
}
.sidebar__menu-item {
	list-style-image: url(../img/marker-for-list.png);
}
.sidebar__link {
	color: #fff;
	font-weight: bold;
}
.sidebar__link--active,
.sidebar__link:hover {
	color: #1D0DED;
}


/*----- контент услуг -----*/
.service__content {
	width: 70%;
	padding: 10px;
}
.service__content-title {
	font-size: 24pt;
	color: #1919E9;
	font-weight: bold;
}
.service__content-wrap {
	padding: 10px;
	margin: 20px;
	min-height: 10px;
}
.service__download-file {
	border: 1px solid blue;
	border-radius: 20px;
	display: flex;
	line-height: 20px;
	padding: 5px;
	margin: 10px 0;
	color: #000;
}
.download-file__icon {
	font-size: 24pt;
	margin: 5px 10px;
}
.download-file__info {
	display: block;
}
.download-file__caption {
	display: block;
}
.download-file__date {
	display: block;
	font-weight: bold;
	margin: 10px 0 0 0;
}
.service__download-file:hover {
	color: #2AB93E;
}
.download-file__icon:hover {
	transform: translateY(3px);
	transition: .3s; 
}
.sidebar__menu-burger {
	display: none;
}
.sidebar__burger-icon {
	color: #1221E8;
}
.sidebar__menu-window {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #50D621;
	padding: 20px;
}
#sidebarWindowBlock {
	display: none;
}	
.sidebar__menu-window-list {
	width: 100%;
}
.sidebar__menu-window-item {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}
.sidebar__menu-window-link {
	margin: 0 0 0 15px;
	padding: 5px;
	color: #fff;
	font-size: 14pt;
	line-height: 40px;
	border-bottom: 1px solid #2245DE;
}
.sidebar__menu-window-link:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -10px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #2245DE;
	border-radius: 50%;
}
.sidebar__menu-window-link--active:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -10px;
	width: 20px;
	height: 20px;
	background: #2245DE;
	border-radius: 50%;;
}
.sidebar__menu-window-link--active {
	color: #2245DE;
}

.sidebar__menu-window-list__closed {
	display: none;
	margin: 10px 0 0 10px;
	padding: 5px;
	color: #F11721;
	letter-spacing: 2px;
	border: 1px solid #F11721;
	width: 30%;
	justify-content: center;
	align-items: center;
	font-style: italic;
}
@media screen and (max-width: 800px) {
	.sidebar__menu {
		font-size: 14px;
	}
}
@media screen and (max-width: 658px) {
	.sidebar__menu {
		display: none;
	}
	.service__content {
		width: 100%;
	}
	.sidebar__menu-burger {
		display: block;
	}
}
@media screen and (max-width: 558px) {
	.sidebar__menu-window-list__closed {
		font-size: 12pt;
	}
	.service__content-title {
		font-size: 22pt;
	}
	.service__content-wrap {
		font-size: 12pt;
		margin: 0;
	}
}
@media screen and (max-width: 500px) {
	.service__content-title {
		font-size: 20pt;
	}
}
@media screen and (max-width: 450px) {
	.service__content-title {
		font-size: 18pt;
	}
	.service__content-wrap {
		font-size: 11pt;
	}
	.sidebar__menu-window-link {
		font-size: 12pt;
	}
}
@media screen and (max-width: 400px) {
	.service__content-title {
		font-size: 16pt;
	}
	.service__content-wrap {
		font-size: 10pt;
	}
	.sidebar__menu-window-link {
		font-size: 11pt;
	}
	.sidebar__menu-window-list__closed {
		font-size: 10pt;
	}
}
@media screen and (max-width: 358px) {
	.service__content-title {
		font-size: 14pt;
	}
	.service__content-wrap {
		font-size: 10pt;
	}
	.sidebar__menu-window-link {
		font-size: 10pt;
	}
	.sidebar__menu-window-list__closed {
		font-size: 8pt;
	}
}